/*
  ========================================
  General
  ========================================
*/

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #f7f7f9;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 4.438rem;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.nav__logo {
  animation-duration: 2s;
  animation-name: rotate-360;
  height: 2.5rem;
  margin-top: 0.25rem;
}

@keyframes rotate-360 {
  to {
    transform: rotate(360deg);
  }
}

/* Navigation mobile */

.nav__mobile-menu {
  align-items: flex-end;
  backdrop-filter: blur(0.25rem);
  background: #6070ff;
  background-color: rgba(96, 112, 255, 0.97);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: -100%;
  position: fixed;
  top: 0;
  transition: 500ms ease-in;
  width: 100%;
  z-index: 100;
}

.nav__mobile-list {
  margin-bottom: 1rem;
}

.nav__mobile-links {
  color: white;
}

.nav__btn-mobile {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

.nav__mobile {
  align-self: flex-start;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  padding-left: 1.5rem;
}

/* Navigation | media queries for desktop */

@media (min-width: 992px) {
  .nav__btn {
    display: none;
  }

  .nav__logo {
    margin-left: 155px;
  }

  .nav__links {
    display: flex;
    font-size: 15px;
    gap: 2rem;
    margin: 0;
    margin-right: 155px;
    padding: 0;
  }
}

@media (max-width: 992px) {
  .nav__btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .nav__links {
    display: none;
  }
}

/*
  ========================================
  Hero
  ========================================
*/

.hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
  padding-top: 4.5rem;
}

.hero--img {
  background-color: #fff;
  background-image: url('img/header-shapes mobile@2x.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 5rem;
}

.hero__header {
  color: #172b4d;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin: 0;
  padding: 1.5rem;
  padding-bottom: 0;
  padding-top: 12px;
}

.hero__paragraph {
  color: #344563;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem 1.5rem;
}

.hero__text {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: -0.5rem;
  margin-left: 1.5rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.hero__socials {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  justify-content: flex-start;
  padding-left: 1.5rem;
}

/* Hero | media queries for desktop */

@media (min-width: 992px) {
  .hero--img {
    background-color: #fff;
    background-image: url('img/Header bg@2x.svg');
    background-position: center top 3rem;
    background-repeat: no-repeat;
    background-size: 97.5%;
    border-bottom-left-radius: 5rem;
  }

  .hero {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16rem 14rem 15rem 15rem; /* Use % */
  }

  .hero__header {
    padding-top: 0;
  }

  .hero__breaker-2 {
    display: none;
  }

  .hero__socials {
    margin-bottom: 0;
  }
}

/*
  ========================================
  Portfolio
  ========================================
*/

.portfolio {
  display: grid;
  grid-template-columns: auto;
  margin: 7rem 0;
  padding-left: 4%;
  padding-right: 4%;
}

.portfolio__card {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.portfolio__images {
  margin: auto;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.portfolio__img-mobile {
  height: auto;
  max-width: 100%;
  width: 1000px;
}

.portfolio__project-one,
.portfolio__project-two,
.portfolio__project-three,
.portfolio__project-four {
  margin: 1rem;
}

.portfolio__header {
  color: #172b4d;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.375rem;
}

.portfolio__para {
  color: #344563;
  font-size: 0.938rem;
}

.portfolio__spans {
  font-size: 0.813rem;
}

.portfolio__span-img {
  margin: 0 0.5rem;
}

.portfolio__span-one {
  color: #344563;
  font-weight: 600;
}

.portfolio__span-two,
.portfolio__span-three {
  color: #7a869a;
  font-weight: 600;
}

.portfolio__tags {
  display: flex;
  gap: 0.5rem;
  padding-left: 0;
}

.portfolio__tag-one,
.portfolio__tag-two,
.portfolio__tag-three {
  background-color: #ebebff;
  border-radius: 0.5rem;
  color: #6070ff;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
}

.portfolio__btn {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #396df2;
  cursor: pointer;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin: 1.5rem 0;
  padding: 0.75rem;
}

.portfolio__btn:hover {
  background: #6070ff;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  box-sizing: border-box;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin: 1.5rem 0;
  padding: 0.75rem;
}

.portfolio__btn:active {
  background: #2230d2;
  border: 1px solid #2230d2;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin: 1.5rem 0;
  padding: 0.75rem;
}

.portfolio__btn:disabled {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #5e6c84;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin: 1.5rem 0;
  padding: 0.75rem;
}

/* Portfolio | media queries for desktop */

@media (min-width: 992px) {
  .portfolio {
    margin: 0;
    padding: 0;
  }

  .portfolio__card {
    margin: 142px 85px 0 85px;
  }

  .portfolio__card--one {
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
  }

  .portfolio__card--two {
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
  }

  .portfolio__card--three {
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
  }

  .portfolio__card--four {
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
  }

  .portfolio__images {
    margin: 24px;
    padding: 0;
  }

  .portfolio__img-desktop {
    height: auto;
    max-width: 100%;
    width: 544px;
  }

  .portfolio__img-mobile {
    display: none;
  }

  .portfolio__project-two,
  .portfolio__project-four {
    margin-left: 24px;
  }

  .portfolio__project-one,
  .portfolio__project-three {
    padding-right: 24px;
  }

  .portfolio__header {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
}

@media (max-width: 992px) {
  .portfolio__img-desktop {
    display: none;
  }
}

/* Portfolio popup  */

.popup {
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-y: scroll;
  padding: 5rem 0;
  position: fixed;
  top: 0;
  visibility: hidden;
}

.popup--active {
  opacity: 100%;
  visibility: visible;
}

.popup__window {
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-height: 90%;
  padding: 2rem 2rem;
  width: 90%;
}

.popup__heading {
  display: flex;
  justify-content: space-between;
}

.popup__title {
  color: #172b4d;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin: 0;
}

.popup__close {
  color: #67798e;
  cursor: pointer;
  font-size: 1.5rem;
}

.popup__close:hover {
  color: #253858;
}

.popup__close:active {
  color: #2230d2;
}

.popup__list {
  align-items: center;
  display: flex;
  margin-top: -1.25rem;
  padding: 0;
}

.circle {
  background: #c1c7d0;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

.popup__company--header {
  color: #344563;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  margin-left: 0;
  text-transform: uppercase;
}

.popup__role--header,
.popup__year--header {
  color: #7a869a;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.popup__item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.popup__item:first-child {
  margin-left: 0;
}

.popup__image {
  border-radius: 8px;
  height: auto;
  margin-bottom: 12px;
  max-width: 60rem;
  width: 100%;
}

.popup__info {
  display: flex;
  flex-direction: column;
}

.popup__description {
  color: #344563;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.popup__technologies {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.popup__tag {
  background: #f5f5ff;
  border-radius: 8px;
  color: #6070ff;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.6rem;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px 12px;
}

.popup__line {
  border-bottom: 1px solid #ebecf0;
  margin-bottom: 1.75rem;
  width: 100%;
}

.popup__btn-container {
  display: flex;
}

.popup__btn {
  align-items: center;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  color: #396df2;
  cursor: pointer;
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 24px;
  padding: 12px;
}

.popup__btn:visited {
  color: #6070ff;
}

.popup__btn:active {
  background: #2230d2;
  border: none;
  color: #fff;
}

.popup__btn:hover {
  background: #6070ff;
  border: none;
  box-shadow: 0 8px 16px #4053fc3d;
  color: #fff;
}

.popup__btn--live {
  margin-right: 0.75rem;
}

/* Portfolio popup  | media queries for desktop */

@media (min-width: 992px) {
  .popup__window {
    padding: 2rem 2rem;
    width: 80%;
  }

  .popup__image {
    align-self: center;
    margin-bottom: 1.5rem;
  }

  .popup__info {
    flex-direction: row;
  }

  .popup__description {
    flex: 1 2 60%;
    margin-right: 1.5rem;
  }
}

/*
  ========================================
  About
  ========================================
*/

.about {
  background-color: #fff;
  border-top-right-radius: 5rem;
  padding-bottom: 8rem;
}

.about__header {
  color: #172b4d;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin: 0;
  padding: 1.5rem;
  padding-bottom: 0;
  padding-top: 12px;
}

.about__paragraph {
  color: #344563;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem 1.5rem;
}

.about__text {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: -0.5rem;
  margin-left: 1.5rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.about__socials {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  justify-content: flex-start;
  padding-left: 1.5rem;
}

.about__btn {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #396df2;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-left: 1.5rem;
  padding: 0.75rem;
}

.about__btn:hover {
  background: #6070ff;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  box-sizing: border-box;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-left: 1.5rem;
  padding: 0.75rem;
}

.about__btn:active {
  background: #2230d2;
  border: 1px solid #2230d2;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-left: 1.5rem;
  padding: 0.75rem;
}

.about__btn:disabled {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #5e6c84;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-left: 1.5rem;
  padding: 0.75rem;
}

.about__info {
  margin-top: 2rem;
  padding-left: 0;
}

.about__languages,
.about__frameworks,
.about__skills {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 3.25rem;
  padding: 0.5rem 0;
}

.about__para-info {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.about__lang {
  align-items: center;
  background: #f7f7f9;
  border-radius: 0.5rem;
  display: flex;
  margin: 0.75rem 1.5rem;
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.about__img {
  padding: 0.5rem;
}

.about__para-tech {
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding-left: 0.5rem;
}

.about__hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
  margin: 0 1.5rem;
}

/* About | media queries for desktop */

@media (min-width: 992px) {
  .about {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 142px;
    padding-bottom: 250px;
    padding-left: 142px;
    padding-right: 142px;
    padding-top: 125px;
  }

  .about__container {
    width: 40%;
  }

  .about__info {
    margin-top: 0;
    width: 60%;
  }

  .about__tech {
    display: flex;
    gap: 1rem;
  }

  .about__lang {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding-left: 1rem;
  }

  .about__lang--two,
  .about__lang--three {
    margin-left: 0;
    padding-right: 2.25rem;
  }

  .about__languages,
  .about__frameworks,
  .about__skills {
    margin-right: 2.5rem;
  }
}

/*
  ========================================
  Contact
  ========================================
*/

.contact--img {
  align-items: center;
  background:
    #6070ff url('img/contact form shapes-mobile@1x.svg') top 3rem
    right no-repeat;
  border-top-left-radius: 5rem;
  display: flex;
  flex-direction: column;
  margin-top: -10%;
}

.contact__header {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.25rem;
  margin-bottom: 0;
  margin-top: 8.5rem;
  text-align: center;
}

.contact__info {
  color: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 2.5rem;
  margin-top: 0.938rem;
  padding: 0 2rem;
  text-align: center;
}

.contact__input {
  background-color: white;
  border: solid 1px #dfdfe0;
  border-radius: 0.5rem;
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  height: 3rem;
  margin: 0.625rem 1.75rem 0.625rem 1.75rem;
  outline: none;
  padding: 0.938rem;
  width: 90vw;
}

.contact__textarea {
  background-color: white;
  border: solid 1px #dfdfe0;
  border-radius: 0.5rem;
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  height: 10.625rem;
  margin: 0.625rem 1.75rem 0.625rem 1.75rem;
  outline: none;
  padding: 0.938rem;
  width: 90vw;
}

.contact__container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.contact__btn {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  color: #396df2;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
}

.contact__btn:hover {
  background: #6070ff;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
}

.contact__btn:active {
  background: #2230d2;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
}

.contact__btn:disabled {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  color: #5e6c84;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
}

/* Contact | media queries for desktop */

@media (min-width: 992px) {
  .contact__input,
  .contact__textarea {
    max-width: 447px;
  }
}

@media (min-width: 992px) {
  .contact--img {
    align-items: center;
    background:
      #6070ff url('img/contact form background shapes@2x.svg') top
      3rem right 5rem no-repeat;
    border-top-left-radius: 5rem;
    display: flex;
    flex-direction: column;
    margin-top: -10%;
  }

  .contact__info {
    width: 50%;
  }

  .contact__container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
