/*
  ========================================
  General
  ========================================
*/

* { box-sizing: border-box; }

html,
body {
  margin: 0;
  background-color: #f7f7f9;
  font-family: 'Poppins', sans-serif;
}

a { text-decoration: none; }

ul,
ol { list-style: none; }

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.438rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
}

.nav__logo {
  height: 2.5rem;
  margin-top: 0.25rem;
  animation-name: rotate-360;
  animation-duration: 2s;
}

@keyframes rotate-360 {
  to { transform: rotate(360deg); }
}

/* Navigation mobile */

.nav__mobile-menu {
  display: flex;
  z-index: 100;
  position: fixed;
  top: 0;
  left: -100%;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(0.25rem);
  background: #6070ff;
  background-color: rgba(96, 112, 255, 0.97);
  color: white;
  transition: 500ms ease-in;
}

.nav__mobile-list { margin-bottom: 1rem; }

.nav__mobile-links { color: white; }

.nav__btn-mobile {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.nav__mobile {
  align-self: flex-start;
  padding-left: 1.5rem;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

/* Navigation | media queries for desktop */

@media (min-width: 992px) {
  .nav__btn { display: none; }

  .nav__logo { margin-left: 155px; }

  .nav__links {
    display: flex;
    margin: 0;
    margin-right: 155px;
    padding: 0;
    font-size: 15px;
    gap: 2rem;
  }
}

@media (max-width: 992px) {
  .nav__btn {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  .nav__links { display: none; }
}

/*
  ========================================
  Hero
  ========================================
*/

.hero {
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem;
  padding-bottom: 6rem;
}

.hero--img {
  border-bottom-left-radius: 5rem;
  background-color: #fff;
  background-image: url('img/header-shapes mobile@2x.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__header {
  margin: 0;
  padding: 1.5rem;
  padding-top: 12px;
  padding-bottom: 0;
  color: #172b4d;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.hero__paragraph {
  margin: 0;
  padding: 1rem 1.5rem;
  color: #344563;
  font-size: 1rem;
  line-height: 1.5rem;
}

.hero__text {
  margin-top: 0;
  margin-bottom: -0.5rem;
  margin-left: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.hero__socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1.5rem;
  gap: 0.6rem;
}

/* Hero | media queries for desktop */

@media (min-width: 992px) {
  .hero--img {
    border-bottom-left-radius: 5rem;
    background-color: #fff;
    background-image: url('img/Header bg@2x.svg');
    background-position: center top 3rem;
    background-repeat: no-repeat;
    background-size: 97.5%;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16rem 14rem 15rem 15rem; /* Use % */
  }

  .hero__header { padding-top: 0; }

  .hero__breaker-2 { display: none; }

  .hero__socials { margin-bottom: 0; }
}

/*
  ========================================
  Portfolio
  ========================================
*/

.portfolio {
  display: grid;
  grid-template-columns: auto;
  margin: 7rem 0;
  padding-right: 4%;
  padding-left: 4%;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  border-radius: 1rem;
  background-color: #fff;
}

.portfolio__images {
  margin: auto;
  margin-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.portfolio__img-mobile {
  width: 1000px;
  max-width: 100%;
  height: auto;
}

.portfolio__project-one,
.portfolio__project-two,
.portfolio__project-three,
.portfolio__project-four { margin: 1rem; }

.portfolio__header {
  margin-top: 0.375rem;
  margin-bottom: 0.5rem;
  color: #172b4d;
  font-size: 2rem;
}

.portfolio__para {
  color: #344563;
  font-size: 0.938rem;
}

.portfolio__spans { font-size: 0.813rem; }

.portfolio__span-img { margin: 0 0.5rem; }

.portfolio__span-one {
  color: #344563;
  font-weight: 600;
}

.portfolio__span-two,
.portfolio__span-three {
  color: #7a869a;
  font-weight: 600;
}

.portfolio__tags {
  display: flex;
  padding-left: 0;
  gap: 0.5rem;
}

.portfolio__tag-one,
.portfolio__tag-two,
.portfolio__tag-three {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #ebebff;
  color: #6070ff;
  font-size: 0.75rem;
}

.portfolio__btn {
  box-sizing: border-box;
  margin: 1.5rem 0;
  padding: 0.75rem;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  background: #fff;
  color: #396df2;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio__btn:hover {
  box-sizing: border-box;
  margin: 1.5rem 0;
  padding: 0.75rem;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

.portfolio__btn:active {
  box-sizing: border-box;
  margin: 1.5rem 0;
  padding: 0.75rem;
  border: 1px solid #2230d2;
  border-radius: 0.5rem;
  background: #2230d2;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

.portfolio__btn:disabled {
  box-sizing: border-box;
  margin: 1.5rem 0;
  padding: 0.75rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  background: #fff;
  color: #5e6c84;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

/* Portfolio | media queries for desktop */

@media (min-width: 992px) {
  .portfolio {
    margin: 0;
    padding: 0;
  }

  .portfolio__card { margin: 142px 85px 0 85px; }

  .portfolio__card--one {
    display: flex;
    flex-direction: row;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    background-color: #fff;
  }

  .portfolio__card--two {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    background-color: #fff;
  }

  .portfolio__card--three {
    display: flex;
    flex-direction: row;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    background-color: #fff;
  }

  .portfolio__card--four {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    background-color: #fff;
  }

  .portfolio__images {
    margin: 24px;
    padding: 0;
  }

  .portfolio__img-desktop {
    width: 544px;
    max-width: 100%;
    height: auto;
  }

  .portfolio__img-mobile { display: none; }

  .portfolio__project-two,
  .portfolio__project-four { margin-left: 24px; }

  .portfolio__project-one,
  .portfolio__project-three { padding-right: 24px; }

  .portfolio__header {
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  .portfolio__img-desktop { display: none; }
}

/* Portfolio popup  */

.popup {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: 0;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 5rem 0;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.5);
}

.popup--active {
  visibility: visible;
  opacity: 100%;
}

.popup__window {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 90%;
  padding: 2rem 2rem;
  border-radius: 12px;
  background: #fff;
}

.popup__heading {
  display: flex;
  justify-content: space-between;
}

.popup__title {
  margin: 0;
  color: #172b4d;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
}

.popup__close {
  color: #67798e;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup__close:hover { color: #253858; }

.popup__close:active { color: #2230d2; }

.popup__list {
  display: flex;
  align-items: center;
  margin-top: -1.25rem;
  padding: 0;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #c1c7d0;
}

.popup__company--header {
  margin-left: 0;
  color: #344563;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  text-transform: uppercase;
}

.popup__role--header,
.popup__year--header {
  color: #7a869a;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.popup__item {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.popup__item:first-child { margin-left: 0; }

.popup__image {
  width: 100%;
  max-width: 60rem;
  height: auto;
  margin-bottom: 12px;
  border-radius: 8px;
}

.popup__info {
  display: flex;
  flex-direction: column;
}

.popup__description {
  color: #344563;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.popup__technologies {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 0;
}

.popup__tag {
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 4px 12px;
  border-radius: 8px;
  background: #f5f5ff;
  color: #6070ff;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.6rem;
}

.popup__line {
  width: 100%;
  margin-bottom: 1.75rem;
  border-bottom: 1px solid #ebecf0;
}

.popup__btn-container { display: flex; }

.popup__btn {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  background: #fff;
  color: #396df2;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 24px;
  cursor: pointer;
}

.popup__btn:visited { color: #6070ff; }

.popup__btn:active {
  border: none;
  background: #2230d2;
  color: #fff;
}

.popup__btn:hover {
  border: none;
  background: #6070ff;
  box-shadow: 0 8px 16px #4053fc3d;
  color: #fff;
}

.popup__btn--live { margin-right: 0.75rem; }

/* Portfolio popup  | media queries for desktop */

@media (min-width: 992px) {
  .popup__window {
    width: 80%;
    padding: 2rem 2rem;
  }

  .popup__image {
    align-self: center;
    margin-bottom: 1.5rem;
  }

  .popup__info { flex-direction: row; }

  .popup__description {
    flex: 1 2 60%;
    margin-right: 1.5rem;
  }
}

/*
  ========================================
  About
  ========================================
*/

.about {
  padding-bottom: 8rem;
  border-top-right-radius: 5rem;
  background-color: #fff;
}

.about__header {
  margin: 0;
  padding: 1.5rem;
  padding-top: 12px;
  padding-bottom: 0;
  color: #172b4d;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.about__paragraph {
  margin: 0;
  padding: 1rem 1.5rem;
  color: #344563;
  font-size: 1rem;
  line-height: 1.5rem;
}

.about__text {
  margin-top: 0;
  margin-bottom: -0.5rem;
  margin-left: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.about__socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1.5rem;
  gap: 0.6rem;
}

.about__btn {
  box-sizing: border-box;
  margin-left: 1.5rem;
  padding: 0.75rem;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  background: #fff;
  color: #396df2;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

.about__btn:hover {
  box-sizing: border-box;
  margin-left: 1.5rem;
  padding: 0.75rem;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

.about__btn:active {
  box-sizing: border-box;
  margin-left: 1.5rem;
  padding: 0.75rem;
  border: 1px solid #2230d2;
  border-radius: 0.5rem;
  background: #2230d2;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

.about__btn:disabled {
  box-sizing: border-box;
  margin-left: 1.5rem;
  padding: 0.75rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  background: #fff;
  color: #5e6c84;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

.about__info {
  margin-top: 2rem;
  padding-left: 0;
}

.about__languages,
.about__frameworks,
.about__skills {
  display: flex;
  justify-content: space-between;
  margin-right: 3.25rem;
  margin-left: 1rem;
  padding: 0.5rem 0;
}

.about__para-info {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.about__lang {
  display: flex;
  align-items: center;
  margin: 0.75rem 1.5rem;
  margin-right: 2.25rem;
  margin-left: 2.25rem;
  border-radius: 0.5rem;
  background: #f7f7f9;
}

.about__img { padding: 0.5rem; }

.about__para-tech {
  padding-left: 0.5rem;
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.about__hr {
  height: 0;
  margin: 0 1.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* About | media queries for desktop */

@media (min-width: 992px) {
  .about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 142px;
    padding-top: 125px;
    padding-right: 142px;
    padding-bottom: 250px;
    padding-left: 142px;
  }

  .about__container { width: 40%; }

  .about__info {
    width: 60%;
    margin-top: 0;
  }

  .about__tech {
    display: flex;
    gap: 1rem;
  }

  .about__lang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    padding-left: 1rem;
  }

  .about__lang--two,
  .about__lang--three {
    margin-left: 0;
    padding-right: 2.25rem;
  }

  .about__languages,
  .about__frameworks,
  .about__skills { margin-right: 2.5rem; }
}

/*
  ========================================
  Contact
  ========================================
*/

.contact--img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10%;
  border-top-left-radius: 5rem;
  background:
    #6070ff url('img/contact form shapes-mobile@1x.svg') top 3rem
    right no-repeat;
}

.contact__header {
  margin-top: 8.5rem;
  margin-bottom: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.25rem;
  text-align: center;
}

.contact__info {
  margin-top: 0.938rem;
  margin-bottom: 2.5rem;
  padding: 0 2rem;
  color: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: center;
}

.contact__input {
  width: 90vw;
  height: 3rem;
  margin: 0.625rem 1.75rem 0.625rem 1.75rem;
  padding: 0.938rem;
  border: solid 1px #dfdfe0;
  border-radius: 0.5rem;
  outline: none;
  background-color: white;
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
}

.contact__textarea {
  width: 90vw;
  height: 10.625rem;
  margin: 0.625rem 1.75rem 0.625rem 1.75rem;
  padding: 0.938rem;
  border: solid 1px #dfdfe0;
  border-radius: 0.5rem;
  outline: none;
  background-color: white;
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
}

.contact__container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.contact__btn {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  padding: 0.75rem;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  background: #fff;
  color: #396df2;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

.contact__btn:hover {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  padding: 0.75rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

.contact__btn:active {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  padding: 0.75rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  background: #2230d2;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

.contact__btn:disabled {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  padding: 0.75rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  background: #fff;
  color: #5e6c84;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
}

/* Contact | media queries for desktop */

@media (min-width: 992px) {
  .contact__input,
  .contact__textarea { max-width: 447px; }
}

@media (min-width: 992px) {
  .contact--img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10%;
    border-top-left-radius: 5rem;
    background:
      #6070ff url('img/contact form background shapes@2x.svg') top
      3rem right 5rem no-repeat;
  }

  .contact__info { width: 50%; }

  .contact__container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

/* Contact | Validate contact form */

.form__error {
  position: absolute;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  opacity: 0;
}

.form__error--message {
  display: flex;
  position: relative;
  justify-content: center;

  /* visibility: visible; */
  opacity: 1;
}

.form__error-icon {
  margin-right: 0.5rem;
  color: red;
}

.form__error-para {
  margin: inherit;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background: rgb(3, 19, 48, 0.7);
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
