html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  margin: 0;
  width: 100vw;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem 1.5rem;
}

.logo {
  color: #6070ff;
  font-size: 1.125rem;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.btn.menu {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/*
  ========================================
  Headline
  ========================================
*/

.headline {
  background-image: url('img/header-shapes mobile@2x.svg');
  background-repeat: no-repeat;
  border-bottom-left-radius: 5rem;
  background-color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem;
  padding-bottom: 6rem;
}

.header {
  margin: 0;
  padding: 1.5rem;
  padding-bottom: 0;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
}

.about p {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  color: #344563;
}

.about .links-paragraph {
  color: #6070ff;
  padding-top: 0;
  padding-bottom: 0;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
  padding-left: 1rem;
}

li {
  list-style: none;
}

a image {
  height: 1.75rem;
}
