* {
  box-sizing: border-box;
  /* border: solid 1px red; */
}

html,
body {
  background-color: #f7f7f9;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 71px;
}

.logo {

  height: 2.5rem;
  margin-top: .25rem;
}

a {
  text-decoration: none;
}

/* Nav links | media queries */

@media screen and (min-width: 992px) {
  .btn.menu {
    display: none;
  }

  .nav-links {
    display: flex;
    /* font-size: 1.125rem; */
    font-size: 15px;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }

  .logo {
    margin-left: 155px;
  }

  .nav-links {
    margin-right: 155px;
  }
}

@media screen and (max-width: 992px) {
  .btn.menu {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .nav-links {
    display: none;
  }
}

/*
  ========================================
  Headline
  ========================================
*/

.headline {
  background-color: #fff;
  background-image: url('img/header-shapes mobile@2x.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  border-bottom-left-radius: 5rem;
}

.about {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
  padding-top: 4.5rem;
}

.header {
  color: #172b4d;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin: 0;
  padding: 1.5rem;
  padding-bottom: 0;
}

.about-paragraph {
  padding-top: 0.5rem;
}

.about p {
  color: #344563;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem 1.5rem;
}

.about .links-paragraph {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: -0.5rem;
  margin-left: 1.5rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.socials {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  justify-content: flex-start;
  padding-left: 1.5rem;
}

li {
  list-style: none;
}

a image {
  height: 1.75rem;
}


/*
  ========================================
  Cards
  ========================================
*/

.portfolio-cards {
  display: grid;
  grid-template-columns: auto;
  margin: 7rem 0;
  padding-left: 4%;
  padding-right: 4%;
}

.card {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.card-img {
  margin: auto;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card-img img {
  width: 1000px;
  max-width: 100%;
  height: auto;
}

.about-projects {
  margin: 1rem;
}

.about-projects h3 {
  color: #172b4d;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.375rem;
}

.about-projects p {
  color: #344563;
  font-size: 0.938rem;
}

.spans {
  font-size: 0.813rem;
}

.spans img {
  margin: 0 0.5rem;
}

.span-one {
  color: #344563;
  font-weight: 600;
}

.span-two,
.span-three {
  color: #7a869a;
  font-weight: 600;
}

.tech-tag {
  display: flex;
  gap: 0.5rem;
  padding-left: 0;
}

.tech-tag li {
  background-color: #ebebff;
  border-radius: 0.5rem;
  color: #6070ff;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
}

.btn.card {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #396df2;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin: 1.5rem 0;
  padding: 0.75rem;
}

.btn.card:hover {
  background: #6070ff;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  box-sizing: border-box;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin: 1.5rem 0;
  padding: 0.75rem;
}

.btn.card:active {
  background: #2230d2;
  border: 1px solid #2230d2;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin: 1.5rem 0;
  padding: 0.75rem;
}

.btn.card:disabled {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #5e6c84;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin: 1.5rem 0;
  padding: 0.75rem;
}

/*
  ========================================
  About
  ========================================
*/

.about-me {
  background-color: #fff;
  border-top-right-radius: 5rem;
  padding-bottom: 8rem;
}

.btn.me {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #396df2;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-left: 1.5rem;
  padding: 0.75rem;
}

.btn.me:hover {
  background: #6070ff;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  box-sizing: border-box;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-left: 1.5rem;
  padding: 0.75rem;
}

.btn.me:active {
  background: #2230d2;
  border: 1px solid #2230d2;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-left: 1.5rem;
  padding: 0.75rem;
}

.btn.me:disabled {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #5e6c84;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-left: 1.5rem;
  padding: 0.75rem;
}

.extra-info {
  margin-top: 2rem;
  padding-left: 0;
}

.languages,
.frameworks,
.skills {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 3.25rem;
  padding: 0.5rem 0;
}

.languages p,
.frameworks p,
.skills p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.lang-paragraph {
  align-items: center;
  background: #f7f7f9;
  border-radius: 0.5rem;
  display: flex;
  margin: 0.75rem 1.5rem;
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.lang-paragraph img {
  padding: 0.5rem;
}

.lang-paragraph p {
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding-left: 0.5rem;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
  margin: 0 1.5rem;
}

/*
  ========================================
  Contact me
  ========================================
*/

.contact {
  align-items: center;
  background: #6070ff url('img/contact form shapes-mobile@1x.svg') top 3rem
    right no-repeat; /* Short hand property */
  border-top-left-radius: 5rem;
  display: flex;
  flex-direction: column;
  margin-top: -10%;
}

.contact-header {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.25rem;
  margin-bottom: 0;
  margin-top: 8.5rem;
  text-align: center;
}

.contact-info {
  color: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 2.5rem;
  margin-top: 0.938rem;
  padding: 0 2rem;
  text-align: center;
}

.name {
  background-color: white;
  border: solid 1px #dfdfe0;
  border-radius: 0.5rem;
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  height: 3rem;
  margin: 0.625rem 1.75rem 0.625rem 1.75rem;
  outline: none;
  padding: 0.938rem;
  width: 90vw;
}

.message {
  background-color: white;
  border: solid 1px #dfdfe0;
  border-radius: 0.5rem;
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  height: 10.625rem;
  margin: 0.625rem 1.75rem 0.625rem 1.75rem;
  outline: none;
  padding: 0.938rem;
  width: 90vw;
}

.btn {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 0.5rem;
  color: #396df2;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
}

.btn:hover {
  background: #6070ff;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
}

.btn:active {
  background: #2230d2;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
}

.btn:disabled {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  color: #5e6c84;
  font-size: 1.063rem;
  letter-spacing: 0.03em;
  margin-bottom: 3rem;
  margin-left: 1.75rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
}
